# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db

# Antigravity / IDE scratch
scratch/
.system_generated/
.vercel
